/* Page Settings */

html {
    scroll-behavior: smooth;
}

a.anchor {
    display: block;
    position: relative;
    top: -175px;
    visibility: hidden;
}

/* Responsive */

@media screen and (max-width: 768px) {
    .playbook-nav { display: none; }
  }

  @media screen and (min-width: 768px) {
    .playbook-main {
        display: grid;
        grid-template-columns: 272px minmax(10px, 1fr);
        align-items: start;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .playbook-nav {
        top: 66px;
    }
}

@media screen and (min-width: 1024px) {
    .playbook-nav {
        top: 131px;
    }
}

/* Main Layout */

.playbook-main {
    background-color: #130F25;
}

/* Left Nav */

.playbook-nav {
    position: sticky;
    position: -webkit-sticky;
    color: white;
    padding: 20px 10px 10px 40px;
}

.playbook-nav-logo {
    margin-top: 50px;
    margin-bottom: 30px;
}
 
hr.left-nav-line {
    border-top: 1px solid rgb(57, 57, 57);
    margin-right: 40px;
}

.playbook-table-of-contents a {
    display: block;
    margin: 10px 0;
    color: white;
}

.playbook-table-of-contents a.indent {
    padding-left: 30px;
}

/* Content Area */ 

.playbook-content {
    background-color: white;
}

.playbook-content h5 {
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'PS Commons Bold';
}

.playbook-hero {
    background-color: beige;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px;
    padding: 20px;
}

.playbook-title {
    padding: 0px 40px 0px 0px;
}

.playbook-body {
    padding: 20px 40px 0px 40px;
}

.playbook-section {
    margin-top: 40px;
}

.inline-hero {
    text-align: center;
}

.inline-hero img {
    margin: 10px auto;
}

.inline-img img {
    float:right;
    margin: 15px;
}

.inline-img-left img {
    float:left;
    margin: 15px;
}

.playbook-icon-list-item {
    display: flex;
    padding: 10px 0;
}

.playbook-icon-list-copy {
    width: 75%;
    padding-left: 0px;
    margin: auto ;
}

.playbook-icon-list-copy p {
   font-size: 26px;
}

.playbook-ordered-list-item {
    display: flex;
    padding: 10px 0px 10px 30px;
}

.playbook-ordered-list-item-copy {
    width: 75%;
    padding-left: 0px;
    margin: auto 20px;
}

.playbook-ordered-list-item-copy p {
    font-size: 20px;
}

.playbook-content ul li ul, .playbook-content ol li ol  {
    padding-top: 10px;
}

/* Callouts and Blockquotes */

.callout-wrapper {
    display: flex;
    padding-left:15%;
    margin-bottom: 20px;
}

.callout-left {
    width:6px;
}

.callout-right {
    width:70%;
    padding-left: 15px;
}

.gradient { 
    transform: rotate(0deg); 
    width: 5px; 
    transform-origin: center center; 
    opacity: 1; pointer-events: auto; 
    cursor: inherit; border-width: 0px; 
    background-color: transparent; 
    background-image: linear-gradient(0deg, rgb(39, 170, 225) 0%, rgb(41, 104, 178) 100%); 
    box-shadow: none; transition-property: none; 
}

.playbook-callout-box {
    display: block;
    border: 1px solid rgb(39, 170, 225);
}

.playbook-callout-box .box-header {
    background-image: linear-gradient(90deg, rgb(39, 170, 225) 0%, rgb(41, 104, 178) 100%); 
    padding: 20px;
    width:100%;
    color:white;
    text-align: center;
}

.playbook-callout-box .box-header strong {
    font-size: 20px;
    letter-spacing: 2px;
}

.playbook-callout-box .box-content {
    width:100%;
    padding: 20px;
}

.playbook-callout-box .box-content-table {
    padding: 0px;
    margin: 0px;
}

.playbook-callout-box .box-content-table table {
    margin: 0;
    padding: 0;
    border-style: hidden;
    border-collapse: collapse;
}


.playbook-callout-box .box-content-table td {
    border: 1px solid rgb(39, 170, 225);
    text-align: center;
    margin: 0;
    padding: 15px 40px;
    border-collapse: collapse;
    font-size: large;
}

.playbook-callout-box .box-content-table th {
    background-color: black;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-collapse: collapse;
    border-style: hidden;
    width: 50%;
}


